body {
  background: #e9b744;
}

h1 {
  color: #e94a44;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
